html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100%;
}


/*MAPS*/


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#indexmap {
    height: 100%;
    width: 50%
}

#addmap {
    height: 75%;
    width: 100%
}


/*Bootstrap tweaks*/


/*navbar*/

.navbar-text {
    padding: 0.5em;
}

.dropdown-item:hover {
    background: #fff;
}

.dropdown-item:active {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #fff;
}


/*table*/


/*
#fullpost-table {
    table-layout: fixed;
    word-wrap: break-word;
}*/


/*Timeline*/

.timeline-axis-text {
    font-size: 10px;
}

div.timeline-event-box {
    border-radius: 0px;
}

div.timeline-event-content {
    margin: 2px 4px;
}

a.observation-link {
    color: black;
    font-size: 12px;
    font-weight: bold;
}


/*Observation window*/

#obs-wrapper {
    overflow-y: scroll;
}