html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Droid Serif', serif;
}

.full-height {
    height: 100%;
}


/*MAPS*/


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#indexmap {
    height: 100%;
    width: 50%
}

#addmap {
    height: 75%;
    width: 100%
}


/*Bootstrap tweaks*/


/*badge*/

.badge {
    font-family: 'Roboto', sans-serif;
    font-weight: initial;
    line-height: initial;
}

.badge-default {
    background-color: #468e9f;
}


/*button */

button,
input {
    font-family: 'Droid Serif', serif;
}

.btn {
    cursor: pointer;
}


/*navbar*/

.navbar,
#mytimeline {
    background-color: rgba(39, 66, 83, 0.04);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .7);
}

.navbar-text {
    padding: 0.5em;
}

.dropdown-item:hover {
    background: #fff;
}

.dropdown-item:active {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #fff;
}

#login-dropdown {
    right: 0;
    left: initial;
}

.nav-filter-status {
    font-size: 0.9rem;
}


/*table*/

th {
    font-family: 'Roboto', sans-serif;
}

.keep-whitespace {
    white-space: pre-wrap;
}


/*list*/

ul {
    list-style-position: inside;
    padding-left: 0;
}


/*links*/

.dropdown-menu a:hover {
    text-decoration: underline !important;
}

.black-link,
#fullpost-table a,
a:focus,
a:hover {
    color: #292b2c;
    text-decoration: underline;
}

.white-link {
    color: white;
}

.white-link:hover {
    color: white;
}

.white-link:visited {
    color: white;
}


/*Timeline*/

.timeline-content {
    font-family: 'Roboto', sans-serif;
}

.timeline-axis-text {
    font-size: 10px;
}

div.timeline-event {
    background-color: rgb(205, 224, 231);
    border-color: #747474;
    color: #636C72;
    margin-top: 2px;
}

div.timeline-event-box {
    border-radius: 0px;
    box-shadow: -3px 2px 7px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

div.timeline-event-content {
    margin: 2px 4px;
}

a.timeline-text,
span.timeline-text {
    color: rgba(0, 0, 0, .7);
    font-size: 12px;
}

.highlight-timeline {
    font-weight: bold;
    z-index: 999;
    background-color: #f8edd3 !important;
    transform: scale(1.1);
}

div.op-event {
    background-color: rgb(235, 204, 204);
}


/*Observation window*/

#indexmap {
    resize: horizontal;
}

#obs-wrapper {
    overflow-y: scroll;
    resize: horizontal;
}


/*general*/

.hidden {
    display: none;
}


/*colors*/

.doggy {
    color: white;
}

.filter-color,
.warning {
    color: rgb(171, 84, 84);
}