/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100%;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#indexmap {
    height: 100%;
    width: 50%
}

#addmap {
    height: 100%;
    width: 100%
}

.full-height {
    width: 100%;
}


/*Bootstrap tweaks*/

.navbar-text {
    padding: 0.5em;
}


/*Timeline*/

.timeline-axis-text {
    font-size: 10px;
}

div.timeline-event-box {
    border-radius: 0px;
}

div.timeline-event-content {
    margin: 2px 4px;
}

a.observation-link {
    color: black;
    font-size: 12px;
    font-weight: bold;
}