<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Form!</h1>
    <form method="POST" action="/api/post.html">
        <label for="name">Name</label>
        <input type="text" name="name" required>
        <label for="lat">Lat</label>
        <input type="number" name="lat" step="any" required>
        <label for="long">Long</label>
        <input type="number" name="long" step="any" required>
        <label for="obs-date">Datum</label>
        <input type="date" name="obs-date" min="1986-01-01" max="1986-03-01" required>
        <label for="obs-time">Tid</label>
        <input type="time" name="obs-time" required>
        <input type="submit" value="send">
    </form>
</body>

</html>