<nav class="navbar navbar-toggleable-md navbar-light d-flex">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Palmekartan</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    {{#if index}}
    <ul class="navbar-nav">
      <span class="navbar-text">
        <span class="nav-filter-status mr-2" id="nav-filterstatus"></span>
      </span>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nav-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-binoculars" aria-hidden="true"></i> Filtrera
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-filter">
          {{!--mordkvällen--}}
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="filter-checkbox mr-1" type="checkbox" name="filter-mordkvallen" data-id="Mordkvällen">
            <label for="filter-mordkvallen">Mordkvällen</label>
          </div>
          {{!--Walkie talkie--}}
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="filter-checkbox mr-1" type="checkbox" name="filter-walkie-talkie" data-id="Walkie Talkie">
            <label for="filter-walkie-talkie">Walkie Talkie</label>
          </div>
          {{!--Övervakare--}}
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="filter-checkbox mr-1" type="checkbox" name="filter-follower" data-id="Övervakare">
            <label for="filter-follower">Övervakare</label>
          </div>
          {{!--Grand--}}
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="filter-checkbox mr-1" type="checkbox" name="filter-grand" data-id="Grand">
            <label for="filter-grand">Grand</label>
          </div>
          {{!--Gamla Stan--}}
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="filter-checkbox mr-1" type="checkbox" name="filter-gamlastan" data-id="Gamla Stan">
            <label for="filter-gamlastan">Gamla Stan</label>
          </div>
          {{!--Bil--}}
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="filter-checkbox mr-1" type="checkbox" name="filter-bil" data-id="Bil">
            <label for="filter-bil">Bil</label>
          </div>
          {{!--Polis--}}
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="filter-checkbox mr-1" type="checkbox" name="filter-polis" data-id="Polis">
            <label for="filter-polis">Polis</label>
          </div>
        <div class="dropdown-item">
          <button class="form-control btn btn-secondary btn-sm my-2 my-sm-0" id="filter-ok">OK
          </button>
        </div>
      </div>
    </li>
  </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nabvarSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cog" aria-hidden="true"></i> Inställningar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarSettings">
          <span class="dropdown-item">Kartan:</span>
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="mr-1 options-marker" id="options-all-markers" type="radio" name="map-options">
            <label for="all-markers">Visa samtliga observationer</label>
          </div>
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="mr-1 options-marker" id="options-one-marker" type="radio" name="map-options">
            <label for="single-marker">Visa en i taget</label>
          </div>
          <hr>
          <span class="dropdown-item">Tidslinjen:</span>
          <div class="dropdown-item form-inline d-flex flex-nowrap">
            <input class="mr-1" id="options-static-events" type="checkbox" name="options-static-events">
            <label for="options-static-events">Visa röda hållpunkter</label>
          </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="" id="about-btn">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Om
        </a>
      </li>
    {{/if}}
    {{#if loggedin}}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          Inloggad som {{username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarAdmin">
          <a class="dropdown-item" href="/users/addform">Ny post</a>
          <a class="dropdown-item" href="/users/editlist">Redigera post</a>
          {{#if admin}}
          <a class="dropdown-item" href="/users/register">Ny användare</a>
          <a class="dropdown-item" href="/users/register">Hantera användare</a>
          {{/if}}
        </div>
      </li>
      <li>
        <a class="nav-link" href="/users/logout">
          <i class="fa fa-key" aria-hidden="true"></i> 
          Logga ut
        </a>
      </li>
      {{else}}
      {{#if index}}
      <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="/users/login" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-key" aria-hidden="true"></i> 
          Logga in
        </a>
        <div class="dropdown-menu" id="login-dropdown" aria-labelledby="navbarDropdownMenuLink">
            <form action="/users/login" method="post" class="form-inline">
                <div class="form-group dropdown-item">
                    <label for="username">Användarnamn</label>
                    <input type="text" class="form-control mr-sm-2" name="username">
                </div>
                <div class="form-group dropdown-item">
                    <label for="password">Lösenord</label>
                    <input type="password" class="form-control mr-sm-2" name="password" />
                </div>
                <div class="dropdown-item">
                    <input type="submit" class="form-control btn btn-secondary btn-sm my-2 my-sm-0" value="Logga in" />
                </div>
            </form>
        </div>
      </li>
      {{/if}}
    {{/if}}
    </ul>
  </div>
</nav>