<p class="mt-1 lead">Palmekartan samlar vittnesiakttagelser kring mordet på statsminister Olof Palme den 28 februari 1986 och visualiserar dem i tid och rum. </p>

<table class="table mt-4">
    <tbody>
        <tr>
            <th scope="row">Instruktioner</th>
            <td>
                <p>Klicka på tidslinjen för att få upp iakttagelsen och se var den ägde rum på kartan. Omvänt kan du klicka på kartan för att få observationen markerad på tidslinjen.</p>
                <p>Under "inställningar" i menyn kan du välja att visa samtliga observationer på kartan eller en i taget.</p>
            </td>
        </tr>
        <tr>
            <th scope="row">Användare</th>
            <td>
                <p>För att logga in och lägga till eller redigera iakttagelser måste du ha ett konto. Ett sådant kan efterfråga genom att skicka ett mejl till <a class="black-link" href="mailto:palmekartan@gmail.com">palmekartan@gmail.com</a> och skriva
                    vad du skulle vilja lägga till eller ändra.</p>
                <p>Som användare förväntas du respektera följande: </p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i>Uppgifterna som läggs till databasen ska vara saklig och kunna styrkas med hjälp av källor.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Personuppgifter är inte tillåtna och vittnen anonymiseras.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Palmekartan samlar enbart <em>iakttagelser</em> nära mordplatseen och/eller Olof Palme under tiden innan mordet.</li>
                </ul>
                <p>Sajten lagrar inga mejladresser eller annan personlig information om användare.</p>
            </td>
        </tr>
        <tr>
            <th scope="row">Systemkrav</th>
            <td>
                Sajten är byggt för en aktuell version av Google Chrome. För att den ska fungera behöver du ha Javascript påslaget.
            </td>
        </tr>
    </tbody>
</table>