<p class="mt-1 lead">Palmekartan samlar och visualiserar vittnesiakttagelser kring mordet på statsminister Olof Palme den 28 februari 1986. </p>

<table class="table mt-4">
    <tbody>
        <tr>
            <th scope="row">Användning:</th>
            <td>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i>Klicka på tidslinjen för att få iakttagelsen markerad på kartan, och vice versa.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Du kan dra tidslinjen sidledes eller scrolla för att zooma in och ut.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Vittnesiakttagelsen visas i detta fönster. Här kan du välja att visa vittnets och/eller Olof Palmes position vid tidpunkten. Du kan också placera dig som vittnet i gatuvyn.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Visa alla observationer på kartan eller en i taget: välj "inställningar" i menyn.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row">Lägg till / redigera:</th>
            <td>
                <p>För att logga in och lägga till eller redigera iakttagelser måste du ha ett konto. Mejla <a class="black-link" href="mailto:palmekartan@hotmail.com">palmekartan@hotmail.com</a> och skriv vad du skulle vilja lägga till eller ändra för att
                    få ett sådant.</p>
                <p>Som användare förväntas du respektera följande: </p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i>Uppgifterna som läggs till databasen ska vara saklig och kunna styrkas med hjälp av källor.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Personuppgifter är inte tillåtna och vittnen anonymiseras.</li>
                    <li><i class="fa-li fa fa-check-square"></i>Palmekartan samlar enbart rapporterade <em>iakttagelser</em> nära mordplatseen och/eller Olof Palme i anslutning till mordet. Larmtider, bostäder mm hör inte hemma här.</li>
                </ul>
                <p>Sajten lagrar inga mejladresser eller annan personlig information om användare.</p>
            </td>
        </tr>
        <tr>
            <th scope="row">Systemkrav:</th>
            <td>
                <p>Sajten är byggt för en aktuell version av Google Chrome. För att den ska fungera behöver du ha Javascript påslaget.</p>
                <p>Palmekartan är i beta. Rapportera buggar och kom med förslag på funktionalitet: <a class="black-link" href="mailto:palmekartan@hotmail.com">palmekartan@hotmail.com</a></p>
            </td>
        </tr>
    </tbody>
</table>