<section id="edit-list-section" class="d-flex mt-3">
    <div class="container-fluid">
        <div class="col">
            <h2>Listar alla observationer</h2>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Datum</th>
                        <th>Plats</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="edit-list-body">
                </tbody>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript" src="../../dist/js/client_core.js"></script>
<script type="text/javascript" src="../../dist/js/client_editlist.js"></script>