<section id="edit-list-section">
    <div class="container">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Datum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="edit-list-body">
            </tbody>
        </table>
    </div>
</section>

<script type="text/javascript" src="../../public/js/client_edit.js"></script>