<section class="d-flex flex-column full-height">
    <div class="d-flex flex-row full-height">
        <div id="indexmap">
        </div>
        <div class="col ml-3 mt-3 mb-2" id="obs-wrapper">
            <div id="obs-content">
            </div>

        </div>
    </div>
    <div id="pktimeline">
    </div>
</section>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="../../client_assets/libs/timeline/timeline-locales.js"></script>
<script type="text/javascript" src="../../client_assets/libs/timeline/timeline.js"></script>
<script type="text/javascript" src="../../public/js/my_timeline.js"></script>
<script type="text/javascript" src="../../public/js/map_index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9FgYDKmsQnbjfrlIl38f8rHPqiLiUkX8&libraries=geometry&callback=initMap" async defer></script>

<script type="text/javascript" src="../../public/js/client_core.js"></script>
<script type="text/javascript" src="../../public/js/client_index.js"></script>