<section class="d-flex flex-column full-height">
    <div class="d-flex flex-row full-height">
        <div id="map">
        </div>
        <div class="m-3">
            <div id="obs-content">
            </div>

        </div>
    </div>
    <div id="mytimeline">
    </div>
</section>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../../client_assets/libs/timeline/timeline-locales.js"></script>
    <script type="text/javascript" src="../../client_assets/libs/timeline/timeline.js"></script>
    <script type="text/javascript" src="../../public/js/my_timeline.js"></script>
    <script type="text/javascript" src="../../public/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9FgYDKmsQnbjfrlIl38f8rHPqiLiUkX8&callback=initMap" async defer></script>

    <script type="text/javascript" src="../../public/js/client_core.js"></script>
    <script type="text/javascript" src="../../public/js/client_index.js"></script>