<section class="d-flex flex-column full-height">
    <div id="obs-map-wrapper" class="d-flex full-height">
        <div id="indexmap">
        </div>
        <div class="col mt-3 mb-2" id="obs-wrapper">
            <div id="obs-content">
            </div>
        </div>
    </div>
    <div id="pktimeline">
    </div>
</section>

{{!-- old google charts --}}
{{!-- <script type="text/javascript" src="//www.google.com/jsapi"></script> --}}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="../../client_assets/libs/timeline/timeline-locales.js"></script>
<script type="text/javascript" src="../../client_assets/libs/timeline/timeline-min.js"></script>
<script type="text/javascript" src="../../dist/js/my_timeline.js"></script>
<script type="text/javascript" src="../../dist/js/map_index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9FgYDKmsQnbjfrlIl38f8rHPqiLiUkX8&libraries=geometry&callback=indexMap.initMap" async defer></script>

<script type="text/javascript" src="../../dist/js/client_core.js"></script>
<script type="text/javascript" src="../../dist/js/urlsearchparam_polyfill.js"></script>
<script type="text/javascript" src="../../dist/js/client_index.js"></script>