<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../client_assets/libs/timeline/timeline.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
    <title>Document</title>
</head>

<body class="d-flex flex-column">
    <div id="mytimeline">
    </div>
    <div class="d-flex flex-row full-height">
        <div id="map">
        </div>
        <div class="m-3">
            <div id="obs-content">
            </div>
            <div class="mt-auto">
                <a href="/user/form.html">To form</a>
                <input type="checkbox" name="all-markers" id="all-markers">Visa alla på karta
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../../client_assets/libs/timeline/timeline-locales.js"></script>
    <script type="text/javascript" src="../../client_assets/libs/timeline/timeline.js"></script>
    <script type="text/javascript" src="../../public/js/my_timeline.js"></script>
    <script type="text/javascript" src="../../public/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9FgYDKmsQnbjfrlIl38f8rHPqiLiUkX8&callback=initMap" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../public/js/view_client.js"></script>
    <script type="text/javascript" src="../../public/js/controller_client.js"></script>
</body>

</html>