<body>
  <div class="container d-flex flex-column justify-content-center align-items-center full-height">
    <div class="col-sm-4">
      <h1>
        <span class="fa fa-sign-in"></span> Registrera konto
      </h1>

          {{!--<% if (message != null) { %>
            <div class="alert-danger"><%= message %></div>
          <% } %>--}}

        <form action="/register" method="post">
          <div class="form-group">
              <label for="username">Användarnamn</label>
              <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="password">Lösenord</label>
            <input type="password" class="form-control" name="password" />
          </div>
          <div>
            <input type="submit" class="form-control btn btn-info" value="Registrera" />
          </div>
        </form>
    </div>
  </div>
</body>