<!DOCTYPE html>
<html lang="en">
{{> pk_header}}
    <body class="d-flex flex-column">
        {{> pk_navbar}}

        {{!--{{#if error}}
        <p>{{error}}</p>
        {{/if}}--}}

        {{{body}}}

        {{>pk_footer}}
    </body>
</html>